[submodule ".dotfiles/zsh/omz"]
	path = .dotfiles/zsh/omz
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".dotfiles/zsh/omz-custom/themes/powerlevel9k"]
	path = .dotfiles/zsh/omz-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".dotfiles/zsh/omz-custom/plugins/zsh-autosuggestions  "]
	path = .dotfiles/zsh/omz-custom/plugins/zsh-autosuggestions  
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".dotfiles/zsh/omz-custom/plugins/zsh-syntax-highlighting"]
	path = .dotfiles/zsh/omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
